<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
    <div class="marco">
        <header>
            <h1 class="list">/LIST</h1>
        </header>
        <div class="backgroundHome">
            <div class="cuerpoMenu">
                <ul>
                    <li  class="crear"> -Crear</li>
                    <li  class="leer">-Leer</li>
                    <li  class="actualizar"></a>-Actualizar</li>
                    <li  class="borrar">-Borrar</li>   
                </ul>
                <div class="botonesHome">
                    <a   class="boton" class="espacio" href="/listas">Crear Lista</a>
                    <a class="boton" href="/logout">Logout</a>
                </div>       
            </div>
        </div>     
    </div>
</body>
</html>