<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
    <div class="marco">
       <header>
            <h2>/Sign up</h2>
            <a  class="atras" href="/"> 🔙</a>
        </header>

        <div class="backgroundRegister">
                <div class="formularioregister">
                                <form class="datos" action="register" method="POST">
                                    <div class="datoUsuario">
                                            <label for="user">Nombre de usuario:</label>
                                            <input type="text" name="user" class="i" required>
                                    </div>
                                    <div class="datoName">
                                            <label for="name">Nombre completo:</label>
                                             <input type="text" name="name"  class="i" required>
                                    </div>
                                     <div class="datoPass">
                                            <label for="password">Password:</label>
                                            <input type="password" name="password" class="i" required>
                                    </div>
                                    <div class="finalDatos">      
                                            <input   type="submit" value="Save" class="boton">
                                            <a   href="/" class="boton">Cancel</a>
                                    </div>            
                                </form>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>