<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
  <div class="marco">
         <header>
          <h1 class="list">/LIST</h1>
         </header> 
          <div class="backgroundIndex">
            <div class="acceso">
                <a class="boton" href="/login">Login</a>
                <a  class="boton" href="/registro">Resgistrar</a>
            </div>
            <div class="palabras">
              <p class="uno">/Crear</p>
              <p class="dos">/Leer</p>
              <p class="tres">/Actualizar</p>
              <p class="cuatro">/Borrar</p>
            </div>
              <div class="gifIndex">     
                <video  class="videoIndex" src="resources/media/index.mp4" autoplay loop muted></video>
              </div>
          </div>           
  </div>
</body>
</html>