<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
  <div class="marco">
         <header>
          <h1 class="list">/LIST</h1>
         </header> 
          <div class="backgroundIndex">
            <div class="acceso">
                <a class="boton" href="/login">Login</a>
                <a  class="boton" href="/registro">Resgistrar</a>
            </div>
            <div class="textoPresentacion">
              <p>¡Bienvenido a List, un sistema de Gestión de Tareas! Nuestro sistema está diseñado para ayudarte a organizar y 
                administrar tus tareas de manera eficiente y efectiva. Ya sea que estés trabajando en un proyecto personal, 
                gestionando tareas en equipo o simplemente necesites llevar un seguimiento de tus pendientes diarios, nuestro 
                sistema está aquí para simplificar tu vida.

                Con nuestro sistema de gestión de tareas, podrás crear listas de tareas. Podrás acceder al sistema desde cualquier dispositivo, 
                ya sea tu computadora, tableta o teléfono, lo que te permite mantener el control de tus tareas en cualquier
                 momento y lugar.</p>
            </div>
            <div class="palabras">
              <p class="uno">/Crear</p>
              <p class="dos">/Leer</p>
              <p class="tres">/Actualizar</p>
              <p class="cuatro">/Borrar</p>
            </div>
              <div class="gifIndex">     
                <video  class="videoIndex" src="resources/media/index.mp4" autoplay loop muted></video>
              </div>
          </div>           
  </div>
</body>
</html>