@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/Montserrat-Thin.ttf); 
}
:root{
    --fuente-principal: 'Roboto', sans-serif; 
   /*   --fuente-cuerpo: 'hola', sans-serif; */
     --peso-titulo: 700;
     --peso-cuerpo: 400;
     --size-h1: 50px;
     --size-h2: 35px;
     --size-h3: 22px;
     --size-cuerpo: 16px;
     --border-line: 6px solid #1f0808;
     --fondo-blanco:#f9f4f1;
     --color-negro:#1f0808;
     --color-destacado:#fff824;
     --padding-web: 4%;
     --margin-left: 20px;
 }  
 /* Normalizadores */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--fuente-principal);
    font-weight: var(--peso-titulo);
}
h1, h4{
    font-size: var(--size-h1);
    color: var(--color-principal);
}
h2, h5{
    font-size: var(--size-h2);
    color: var(--color-negro);
}
h3, h6{
    font-size: var(--size-h3);
    color: var(--color-negro);
}
p{
    font-family: var(--fuente-principal);
    font-weight: var(--peso-cuerpo);
    font-size: var(--size-cuerpo);
    color:var(--fondo-blanco);
}
span{
    font-family: var(--fuente-principal);
    font-size: 15px;
}
label{
    font-family: var(--fuente-principal);
    font-size: 15px;
}
thead{
    border: 2px solid var(--color-negro);
}
li{
    font-family: var(--fuente-principal);
    font-weight: var(--peso-cuerpo);
    font-size: var(--size-cuerpo);
    color: var(--color-secundario);
    margin: 20px;
    list-style: none;
}
a{     
    font-family: var(--fuente-principal);
    color: var(--color-negro);
    text-decoration: none;
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;
}
/* fin normalizadores */
/* Reglas generales */
.marco{
    width: 100%;
    max-width: 1920px;
    margin: auto;
}
.i{
    border: 2px solid var(--color-negro);
    width: 175px;
    background-color: var(--color-destacado);
}
.boton{
    font-size: 22px;
    width: 120px;
    height: 50px;
    font-size: var(--size-h3);
    background-color: var(--color-negro);
    color: var(--fondo-blanco);
    font-family: var(--fuente-principal);
    transition: 1s;
}
.boton:hover{
    background-color: var(--color-destacado);
    color: var(--color-negro) !important;
    border: var(--border-line);
}
header{
    background-color: var(--fondo-blanco);
    height: 20vh;
    width: 100%;
    border: var(--border-line);
    border-bottom: 0px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header h1{
    padding: 45px;

}
header h2{
    padding: 35px;
}
header a{
    font-size: 50px;
    padding: 25px;
}
.backgroundLogin, .backgroundRegister, .backgroundHome{
    border: var(--border-line);
    width: 100%;
    height: 80vh;
    background-color: var(--fondo-blanco);
}
.formularioLogin,.formularioregister, .cuerpoMenu{
    font-family: var(--fuente-titulo);
    margin-top: 70px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* fin reglas generales */
/* index */
.backgroundIndex{
    width: 100%;
    height: 80vh;
    background-color: var(--fondo-blanco);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid var(--color-negro);
    border: var(--border-line);
}
.acceso{
    border-top: 0px;
    margin: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.palabras{
    display:none;
}
.videoIndex{
    width: 230px;
    height: 150px;
    margin-bottom: 80px;
}
.acceso a{
    border: var(--border-line);
    margin: 15px;
}
/* fin del index */
/* login */
.formularioLogin{
    margin: 0;
    padding: 40px;
    height: 80vh;
    background-color: var(--fondo-blanco);
    border: var(--border-line);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.videoLogin{
    width: 200px;
    height: 130px;
    margin: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.formularioLogin form{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.usuario, .password{
    width: 300px;
    border: var(--border-line) ;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 15px;
}
.usuario{
    border-bottom: 2px solid var(--color-negro);
}
.password{
    border-top: 2px solid var(--color-negro);
}
 .formularioLogin form .boton, .linkregistro{
    margin-top: 20px;
}
input .i2, a .i2{
    transition: var(--trancicion--1);
}
/* fin del login */
/* register */
.datos{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.datoUsuario, .datoName, .datoPass{
    padding: 10px;
    width: 350px;
    height: 50px;
    border: var(--border-line);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.datoUsuario{
    border-bottom:2px solid var(--color-negro) ;
}
.datoName{
    border-top:2px solid var(--color-negro) ;
    border-bottom:2px solid var(--color-negro) ;
}
.datoPass{
    border-top:2px solid var(--color-negro) ;
}
.finalDatos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}
.finalDatos input, .finalDatos a{
    margin-top: 20px !important;
}
/* fin de register */
/* home */
.backgroundHome{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}
.backgroundHome li{

   width: 70vw;
   margin: 0px;
   padding: 10px;
   font-size: 40px;
}
.crear{
    border-top: 4px solid var(--color-negro);
    border-right: 4px solid var(--color-negro);
    border-bottom: 4px solid var(--color-negro)
}
.leer{
    border-left: 4px solid var(--color-negro);
    border-bottom: 4px solid var(--color-negro);
}
.actualizar{
    border-right: 4px solid var(--color-negro);
    border-bottom: 4px solid var(--color-negro);
}
.borrar{
    border-left: 4px solid var(--color-negro);
    border-bottom: 4px solid var(--color-negro);
}
.backgroundHome .boton{
    margin-top: 40px;
}
/* fin del home */
/* notas */
.headernotas{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.linkHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
}
.headernotas .crearnota,.headernotas .back,.headernotas .salir{
    margin: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkHeader a{
    font-size: 22px;
}
.cuerpoNotas{
    width: 100%;
    background-color: var(--fondo-blanco);
    border:  var(--border-line);
    display: flex;
    justify-content: center;
    align-items: center; 
}
.tabla{
    margin-bottom: 5px;
    width: 95%;
    border: 2px solid var(--color-negro);
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 25px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.titulos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
}
.cabeceras{
    width: 100%;
    height: 50px;
    padding: 30px;
    border-bottom: 2px solid var(--color-negro);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cajaN{
    font-size: 18px;
    width: 10%;
  }
  .cajaTitulo{
    margin-left: 10px;
    width: 20%;
  }
  .cajaNota{
    margin-left: 10px;
    width: 50%;
  }
  .cajaAcciones{
    width: 20%;
  }
 .gifLista{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
  .gifLista video{
    margin-top: 50px;
    width: 250px;
    height: 175px;
  }
.items{
    padding: 20px;
    border-bottom: 2px solid var(--color-negro);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.h3item{
    font-size: 15px;
}
.cajaItemN{
    font-size: 10px;
    width: 10%;
}
.cajaItemTitulo{
    font-size: 10px;
    width: 20%;
}
.cajaItemNota{
    font-size: 10px;
    width: 50%;
}
.cajaItemAcciones{
    font-size: 5px;
    width: 20%;;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font: 20px !important;
}
.cajaItemAcciones a{
    font-size: 20px;
    margin: 10px;
}
footer{
    text-align: center;
    width: 100%;
    background-color: var(--color-negro);
    color: var(--color-destacado) !important;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer h2 {
    font-size: 70px;
    color: var(--fondo-blanco);
}
/* fin de notas */
/* create */
.creacion{
    width: 100%;
    height: 80vh;
    background-color: var(--fondo-blanco);
    border: var(--border-line);
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.creacion form{
    width: 90%;
    height: 60vh;
}
.mb-4,.mb-3{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.creacion form .mb-4{
   border-top: var(--border-line);
   border-right: var(--border-line);
   border-left: var(--border-line);
   border-bottom: 3px solid var(--color-negro);

}
.creacion form .mb-3{
    border-top: 3px solid var(--color-negro);
    border-right: var(--border-line);
    border-left: var(--border-line);
    border-bottom:var(--border-line) ;
}
.creacion form div input, .edicion form div input{
    height: 25px;
    width: 200px;
    padding: 5px;
    font-size: 15px;
}
.creacion form div label, .edicion form div label{
    font-size: 20px;
}
.botonesCreacion, .botonesEdit{
    height: 30vh;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.botonesCreacion .boton, .botonesEdit .boton{
    margin-top: 10px;
}
.videoCrear{
    width: 150px;
    height: 120px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
/* fin del create */
/* edit */
.edicion{
    width: 100%;
    height: 80vh;
    border: var(--border-line);
    background-color: var(--fondo-blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edicion form{
    width: 90%;
    margin-top: 25px;
}
.mb-5,.mb-6{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 18px;
}
.edicion form .mb-5{
   border-top: var(--border-line);
   border-right: var(--border-line);
   border-left: var(--border-line);
   border-bottom: 3px solid var(--border-line);
}
.edicion form .mb-6{
   border-top:3px solid var(--color-negro);
   border-right: var(--border-line);
   border-left: var(--border-line);
   border-bottom: var(--border-line);
}
.videoDelete{
    width: 150px;
    height: 120px;
    position: absolute;
    bottom: 50px;
    left: 50px;
}
/* fin del edit */
@media (min-width: 768px){

    :root{
        --fuente-titulo: 'Roboto', sans-serif; 
         --peso-titulo: 700;
         --peso-cuerpo: 400;
         --size-h1: 80px;
         --size-h2: 60px;
         --size-h3: 35px;
         --size-botton:23px;
         --size-cuerpo: 80px;
         --border-line: 10px solid #1f0808;
         --padding-web: 4%;
         --margin-left: 20px;
        --trancicion--1:0.3s;  
       }
    

       /* Normalizadores */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--fuente-principal);
    font-weight: var(--peso-titulo);
}
h1, h4{
    font-size: var(--size-h1);
    color: var(--color-principal);
}
h2, h5{
    font-size: var(--size-h2);
    color: var(--color-negro);
}
h3, h6{
    font-size: var(--size-h3);
    color: var(--color-negro);
}
p{
    font-family: var(--fuente-principal);
    font-weight: var(--peso-cuerpo);
    font-size: var(--size-cuerpo);
    color:var(--fondo-blanco);
}
span{
    font-family: var(--fuente-principal);
    font-size: 20px;
}
label{
    font-family: var(--fuente-principal);
    font-size: 40px;
}
li{
    font-family: var(--fuente-principal);
    font-weight: var(--peso-cuerpo);
    font-size: var(--size-cuerpo);
    color: var(--color-secundario);
    margin: 20px;
    list-style: none;
}
input{
    font-size: 40px;
}
/* fin normalizadores */
/* Reglas generales */
.marco{
    width: 100%;
    max-width: 1920px;
    margin: auto;
}
.boton{
    width: 200px;
    height: 90px;
    font-size: var(--size-h3);
}
a{
    width: 150px;
    height: 100px; 
}
header h1{
    padding-top: 60px;
}
header h2{
    font-size: var(--size-h2);
}
header a{
    font-size: var(--size-h1);
    margin: 60px;
}
.formularioLogin,.formularioregister, .cuerpoMenu{
    font-family: var(--fuente-titulo);
    margin-top: 70px;
    height: 60vh;
}
/* fin reglas generales */
/* index */
.videoIndex{
    height: 370px;
    width: 470px;
}
/* fin del index */
/* login */
.formularioLogin{
    height: 80vh;
    margin: 0;
    padding: 60px;
}
.formularioLogin form{
    align-items: flex-start;
}
.usuario, .password{
    font-size: 50px;
    width: 500px;
    height: 90px;
}
.usuario span, .password span{
    font-size: 30px;
}
.usuario{
    border-bottom: 4px solid var(--color-negro);
}
.password{
    border-top: 4px solid var(--color-negro);
}
 .formularioLogin .boton{
    margin-top: 20px;
}
.marcoVideo{
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.videoLogin{
    width: 330px;
    height: 260px;
    margin-top: 50px;
    position: relative;
    left: 0;
}
.i{
    font-size: 30px;
    width: 280px;
    height: 40px;
}
/* fin del login */
/* register */
.datoUsuario, .datoName, .datoPass{
    padding: 10px;
    width: 700px;
    height: 90px;
}
.datoUsuario{
    border-bottom:4px solid var(--color-negro) ;
}
.datoName{
    border-top:4px solid var(--color-negro) ;
    border-bottom:4px solid var(--color-negro) ;
}
.datoPass{
    border-top:4px solid var(--color-negro) ;
}
.formularioregister .boton{
    margin-right: 0px;
    margin-top: 0px;  
}
.finalDatos input{
    font-size: var(--size-h3) ;
}
/* fin de register */
/* home */
.backgroundHome{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.backgroundHome li{
 height: 10vh;
    width: 60vw;
   padding: 10px;
}
.cuerpoMenu ul{
    margin-bottom:20px ;
}
.cuerpoMenu li {
    font-size: 80px;
}
.crear{
    font-size: 30px;
    border-top: 8px solid var(--color-negro);
    border-right: 8px solid var(--color-negro);
    border-bottom: 8px solid var(--color-negro);
}
.leer{
    font-size: 30px;
    border-left: 8px solid var(--color-negro);
    border-bottom: 8px solid var(--color-negro);
}
.actualizar{
    font-size: 30px;
    border-right: 8px solid var(--color-negro);
    border-bottom: 8px solid var(--color-negro);
}
.borrar{
    font-size: 30px;
    border-left: 8px solid var(--color-negro);
    border-bottom: 8px solid var(--color-negro);
}
.backgroundHome .boton{
    width: 200px;
    height: 90px;
}
/* fin del home */
/* notas */
.headernotas h2{
    padding: 0px;
}
.linkHeader a{
    font-size: 50px;
}
.headernotas .crearnota,.headernotas .back,.headernotas .salir{
    margin: 25px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabla{
    border: 4px solid var(--color-negro);
    margin-top: 103px;
    margin-bottom: 103px;
    padding-bottom: 50px;  
}
.cabeceras{
    height: 85px;
    border-bottom: 6px solid var(--color-negro);
}
  .cajaTitulo{
    margin-left: 20px;
    width: 20%;
  }
  .cajaNota{
    margin-left: 20px;
  }
  .gifLista video{
    margin-top: 50px;
    width: 350px;
    height: 200px;
  }
.items{
    padding: 30px;
    border-bottom: 4px solid var(--color-negro);
}
.h3item,.cajaItemN,.cajaItemTitulo,.cajaItemNota{
    font-size: 30px;
}
.cajaItemTitulo, .cajaItemNota{
    padding-left: 20px;
}
.cajaItemAcciones a{
    font-size: 50px;
    margin: 20px;
}
footer h2 {
    font-size: 100px;
}
/* fin de notas */
/* create */
.creacion form .mb-4{
    height: 90px;
   border-bottom: 5px solid var(--color-negro);
}
.creacion form .mb-3{
    height: 90px;
    border-top: 5px solid var(--color-negro);
}
.mb-4 label,.mb-3 label{
   font-size: 40px !important; 
}
.creacion form div input, .edicion form div input{
    padding: 10px;
    height: 40px;
    width: 400px;
    font-size: 25px;
}
.creacion form div label, .edicion form div label{
    font-size: 30px;
}
.botonesCreacion, .botonesEdit{
    margin-top: 20px;
}
.botonesCreacion .boton, .botonesEdit .boton{
    margin-top: 20px;
}
.videoCrear{
    width: 350px;
    height: 270px;
    bottom:30px;
    left: 50px;
}
/* fin del create */
/* edit */
.edicion form{
    margin-top: 0px;
}
.mb-5,.mb-6{
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
.mb-5 label,.mb-6 label{
    font-size: 40px !important;
}
.edicion form .mb-6{
   border-top:8px solid var(--color-negro);
}
.videoDelete{
    width: 350px;
    height: 220px;
    bottom: 60px;
    left: 80px;
}
/* fin del edit */















}












@media (min-width: 1366px){

    :root{
         --size-h1: 90px;
         --size-h2: 80px;
         --size-h3: 35px;
         --size-botton:23px;
         --size-cuerpo: 80px;
         --border-line: 10px solid #1f0808; 
       }
       /* Normalizadores */
p{
    font-family: var(--fuente-principal);
    font-weight: var(--peso-cuerpo);
    font-size: var(--size-cuerpo);
    color:var(--fondo-blanco);
}
span{
    font-family: var(--fuente-principal);
    font-size: 20px;
}
label{
    font-family: var(--fuente-principal);
    font-size: 40px;
}
.atras{
    font-size: 100px;
}
li{
    font-family: var(--fuente-principal);
    font-weight: var(--peso-cuerpo);
    font-size: var(--size-cuerpo);
    color: var(--color-secundario);
    margin: 20px;
    list-style: none;
}
input{
    font-size: 40px;
}
/* fin normalizadores */
/* Reglas generales */
.boton{
    width: 260px;
    height: 70px;
    font-size: var(--size-h3);
}
a{
    width: 150px;
    height: 100px; 
}
header h1{
    padding-top: 60px;
}
header h2{
    font-size: var(--size-h2);
}
header a{
    font-size: var(--size-h1);
    margin: 60px;
}
.formularioLogin,.formularioregister, .cuerpoMenu{
    font-family: var(--fuente-titulo);
    margin-top: 70px;
    height: 60vh;
}
/* fin reglas generales */
/* index */
.backgroundIndex{
 position: relative;
}
.acceso{
    margin: 0;
    position: absolute;
    left: 50px;
    top: 50px;
}
 .palabras{
    display: block;
}
.palabras .uno{
    font-size: 80px;
    color: var(--color-negro);
    position: absolute;
    left: 100px;
    bottom: 100px;
}
.palabras .dos{
    font-size: 80px;
    color: var(--color-negro);
    position: absolute;
    left: 300px;
    bottom: 250px;
}
.palabras .tres{
    font-size: 80px;
    color: var(--color-negro);
    position: absolute;
    right: 160px;
    top: 200px;
}
.palabras .cuatro{
    font-size: 80px;
    color: var(--color-negro);
    position: absolute;
    right: 470px;
    top: 50px;

}
.videoIndex{
    margin: 0;
    position: absolute;
    bottom: 0px;
    right: 50px;
    height: 370px;
    width: 470px;
}
/* fin del index */
/* login */
.formularioLogin{
    height: 80vh;
    margin: 0;
    padding: 60px;
}
.formularioLogin form{
    align-items: flex-start;
}
.usuario, .password{
    font-size: 50px;
    width: 600px;
    height: 80px;
}
.usuario span, .password span{
    font-size: 40px;
}

.marcoVideo{
    width: 50%;
    position: absolute;
    right: 50px;
    bottom: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.videoLogin{
    width: 330px;
    height: 260px;
    margin-top: 0px;
    position: relative;
    left: 0;
}
.i{
    padding: 10px;
    font-size: 30px;
    width: 320px;
    height: 40px;
}
/* fin del login */
/* register */
.formularioregister{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    position: relative;
    top: 0;
    left: 100px;
}
.datos{
    width: 60%;
}
.datoUsuario, .datoName, .datoPass{
    padding: 10px;
    width: 100%;
    height: 80px;
}
.datoUsuario input, .datoName input, .datoPass input{
    width: 400px;
}
.datoUsuario{
    border-bottom:4px solid var(--color-negro) ;
}
.datoName{
    border-top:4px solid var(--color-negro) ;
    border-bottom:4px solid var(--color-negro) ;
}
.datoPass{
    border-top:4px solid var(--color-negro) ;
}
.formularioregister .boton{
    margin-right: 0px;
    margin-top: 0px;  
}
.finalDatos input{
    font-size: var(--size-h3) ;
}
/* fin de register */
/* home */
.backgroundHome{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.backgroundHome li{
 height: 10vh;
    width: 60vw;
   padding: 10px;
}
.cuerpoMenu ul{
    margin-bottom:50px ;
}
.cuerpoMenu li {
    font-size: 70px;
}
.crear{
    font-size: 30px;
    border-top: 8px solid var(--color-negro);
    border-right: 8px solid var(--color-negro);
    border-bottom: 8px solid var(--color-negro);
}
.leer{
    font-size: 30px;
    border-left: 8px solid var(--color-negro);
    border-bottom: 8px solid var(--color-negro);
}
.actualizar{
    font-size: 30px;
    border-right: 8px solid var(--color-negro);
    border-bottom: 8px solid var(--color-negro);
}
.borrar{
    font-size: 30px;
    border-left: 8px solid var(--color-negro);
    border-bottom: 8px solid var(--color-negro);
}
.backgroundHome .boton{
    width: 200px;
    height: 90px;
    margin: 20px;
}
.botonesHome{
    display: flex;
    flex-direction: row;
}
/* fin del home */
/* notas */
.headernotas{
    height: 15vh;
    justify-content:space-between;
}
.headernotas h2{
    padding: 0px;
    margin-left: 50px;
}
.linkHeader{
    margin-right: 50px;
}
.linkHeader a{
    font-size: 50px;
    margin: 20px;
}
.headernotas .crearnota,.headernotas .back,.headernotas .salir{
    margin: 25px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h3Lista{
    font-size: 40px;
}
  .cajaTitulo{
    margin-left: 30px;
    width: 20%;
  }
  .cajaNota{
    margin-left: 30px;
  }
  .gifLista video{
    margin-top: 50px;
    width: 450px;
    height: 250px;
  }

.h3item,.cajaItemN,.cajaItemTitulo,.cajaItemNota{
    font-size: 35px;
}
.cajaItemTitulo, .cajaItemNota{
    padding-left: 40px;
}
.cajaAcciones h3{
    margin-left: 50px;
}
.cajaItemAcciones a{
    font-size: 55px;
    margin: 20px;
}
footer{
    height: 15vh;
}
footer h2 {
    font-size: 110px;
}
/* fin de notas */
/* create */
.creacion{
    width: 100%;
    height: 85vh;
    background-color: var(--fondo-blanco);
    border: var(--border-line);
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.botonesCreacion{
    width: 700px;
}
.creacion form{
    width: 90%;
}
.mb-4,.mb-3{
    width: 700px;
    height: 100px;
}
.creacion form .mb-4{
   border-bottom: 5px solid var(--color-negro)
}
.creacion form .mb-3{
    border-top: 5px solid var(--color-negro);
}
.creacion form div input, .edicion form div input{
    height: 40px;
    width: 400px;
    padding: 10px;
    font-size: 30px;
}
.mb-4 label,.mb-3 label{
    font-size: 45px !important;
}
.botonesCreacion, .botonesEdit{
    height: 30vh;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.botonesCreacion .boton, .botonesEdit .boton{
    margin-top: 10px;
}
.videoCrear{
    width: 350px;
    height: 320px;
    position: absolute;
    left:1100px;
    bottom: 0px;
    
}
/* fin del create */
/* edit */
.edicion{
    height: 85vh;
    position: relative;
}
.edicion form{
    width: 50vw;
    height: 400px;
    margin-top: 0px;
    position: absolute;
    top: 50px;
    right: 50px;
}
.mb-5,.mb-6{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
.mb-5 label,.mb-6 label{
    font-size: 40px;
    font-size: 35px;
}
.edicion form .mb-5{
    border-bottom:5px solid var(--color-negro);
 }
.edicion form .mb-6{
   border-top:5px solid var(--color-negro);
}
.mb-5 input, .mb-6 input{
    width: 40px;
}
.botonesEdit{
    margin-top: 40px;
}
.videoDelete{
    width: 550px;
    height: 320px;
    bottom: 60px;
    left: 80px;
}
/* fin del edit */










}




@media (min-width: 1920px){

    :root{
         --size-h1: 100px;
         --size-h2: 90px;
         --size-h3: 35px;
         --size-botton:23px;
         --size-cuerpo: 80px;
         --border-line: 10px solid #1f0808; 
       }
       /* Normalizadores */
span{
    font-family: var(--fuente-principal);
    font-size: 20px;
}
label{
    font-family: var(--fuente-principal);
    font-size: 40px;
}
.atras{
    font-size: 100px;
}
li{
    font-family: var(--fuente-principal);
    font-weight: var(--peso-cuerpo);
    font-size: var(--size-cuerpo);
    color: var(--color-secundario);
    margin: 20px;
    list-style: none;
}
input{
    font-size: 40px;
}
/* fin normalizadores */
/* Reglas generales */
.boton{
    width: 280px;
    height: 80px;
}
a{
    width: 150px;
    height: 100px; 
}
header h1{
    padding-top: 60px;
}
header h2{
    font-size: var(--size-h2);
}
header a{
    font-size: var(--size-h1);
    margin: 60px;
}
.formularioLogin,.formularioregister, .cuerpoMenu{
    margin-top: 70px;
    height: 60vh;
}
/* fin reglas generales */
/* index */
/* .palabras .uno{
    font-size: 100px; 
    left: 120px;
    bottom: 100px;
}
.palabras .dos{
    color: red;
    font-size: 100px;
    position: absolute;
    left: 320px;
    bottom: 350px;
}
.palabras .tres{
    font-size: 100px;
    color: var(--color-negro);
    right: 460px;
    top: 430px;
}
.palabras .cuatro{

    font-size: 100px;
    color: var(--color-negro);
    right: 350px;
    top: 150px;
} */
/* fin del index */
/* login */
.formularioLogin{
    height: 80vh;
    margin: 0;
    padding: 60px;
}
.formularioLogin form{
    align-items: flex-start;
}
.usuario, .password{
    font-size: 50px;
    width: 650px;
    height: 100px;
}
.usuario span, .password span{
    font-size: 40px;
}
.videoLogin{
    width: 530px;
    height: 360px;
}
.i{
    padding: 10px;
    font-size: 30px;
    width: 370px;
    height: 40px;
}
/* fin del login */
/* register */
.formularioregister{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    position: relative;
    top: 0;
    left: 100px;
}
.datos{
    width: 60%;
}
.datoUsuario, .datoName, .datoPass{
    padding: 10px;
    width: 100%;
    height: 80px;
}
.datoUsuario input, .datoName input, .datoPass input{
    width: 400px;
}
/* fin de register */
/* home */
.backgroundHome{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.backgroundHome li{
 height: 10vh;
    width: 60vw;
   padding: 10px;
}
.cuerpoMenu ul{
    margin-bottom:60px ;
}
.cuerpoMenu li {
    font-size: 80px;
}
.backgroundHome .boton{
    width: 250px;
    height: 90px;
    margin: 20px;
}
/* fin del home */
/* notas */
.headernotas{
    height: 20vh;
}
.linkHeader a{
    font-size: 60px;
}
.tabla{
    width: 80%;
}
.h3Lista{
    font-size: 40px;
}
.cajaItemAcciones a{
    font-size: 60px;
    margin: 0px;
    margin-left: 20px;
}
footer{
    height: 20vh;
}
footer h2 {
    font-size: 110px;
}
/* fin de notas */
/* create */
.creacion{
    width: 100%;
    height: 85vh;
    background-color: var(--fondo-blanco);
    border: var(--border-line);
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.botonesCreacion{
    width: 700px;
}
.creacion form{
    width: 90%;
}
.mb-4,.mb-3{
    width: 700px;
    height: 120px !important;
}
.creacion form .mb-4{
   border-bottom: 5px solid var(--color-negro)
}
.creacion form .mb-3{
    border-top: 5px solid var(--color-negro);
}
.creacion form div input, .edicion form div input{
    height: 50px;
    width: 400px;
    padding: 10px;
    font-size: 35px;
}
.mb-4 label,.mb-3 label{
    font-size: 50px !important;
}
.botonesCreacion .boton, .botonesEdit .boton{
    margin-top: 20px;
}
.videoCrear{
    left:700px;
}
/* fin del create */
/* edit */
.edicion{
    height: 85vh;
    position: relative;
}
.edicion form{
    width: 50vw;
    height: 400px;
    margin-top: 0px;
    position: absolute;
    top: 50px;
    right: 50px;
}
.mb-5,.mb-6{
    height: 120px;
}
.mb-5 label,.mb-6 label{
    font-size: 50px !important;
    font-size: 35px;
}
.mb-5 input, .mb-6 input{
    height: 50px;
    width: 500px !important;
}
.videoDelete{
    bottom: 80px;
}
/* fin del edit */










}